<div>

  <div ng-if="page.dm.responseArea.hideExamProperties !== 'during'" style="text-align: center; vertical-align: middle">
    <!-- display audiometry-properties -->
    <audiometry-properties></audiometry-properties>
  </div>

  <!--Exam Page-->
  <div ng-if="chaExams.state === 'exam'">

    <software-button></software-button>
    
  </div>


</div>
