<!--
* Author: Brendan Flynn
* Date: 09 March, 2016
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<div>

  <div ng-if="!!(chaExams.examType) && chaCheck.isAudiometryExam(chaExams.examType)">
    <response-area ng-include="'scripts/components/response-areas/cha-response-areas.html'"></response-area>
  </div>

</div>
