<!--Modal-->
<div class="modal-header">
  Devices
  <!-- <span class="pull-right cha-modal-bluetoothtype">
    {{bluetoothTypes[bluetoothType]}}
  </span> -->
</div>

<div class="modal-body">
  <div ng-repeat="device in svantekList">
    <button type="button" ng-class="(chosen(device))?'btn cha-selected' : 'btn cha-unselected'" ng-click="choose(device)" ng-bind="device.name">
      {{device.name}}
    </button>
  </div>

</div>

<div class="modal-footer">
  <button type="button" ng-class="(!!(chosenSvantek))?'btn btn-primary':'btn btn-primary disabled custom-disabled'" ng-click="select(chosenSvantek)">Select</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
