<div ng-controller="ChaResponseAreaCtrl">

  <!-- this component handles the cha connection if it drops -->
  <cha-connection></cha-connection>

  <!--Cha Response Area State Machine-->
  <div ng-if="cha.state === 'connected'">
    <div ng-if="chaError">
      <p>{{errorMessage}}</p>
      <p translate>Please hand the device to an administrator.</p>
    </div>

    <div ng-if="!chaError">
      <div ng-if="chaExams.state==='start'">
        <div ng-if="isAudiometryExam && hideExamProperties !== 'before' && hideExamProperties !=='always'">
          <!-- <audiometryProperties/> -->
          <audiometry-properties></audiometry-properties>
          <br />
        </div>
        <!-- If MLD or MaskedThresholds we still want to see audiometry properties.
        These two are not considered audiometry properties even though they are similar. -->
        <div ng-if="hideExamProperties !== 'before' && hideExamProperties !=='always' && (chaExams.examType === 'MLD' || chaExams.examType === 'MaskedThreshold')">
          <audiometry-properties></audiometry-properties>
          <br />
        </div>
        <div class="btn-content-split">
          <div>
            <a class="btn btn-secondary" ng-if="skippable || debugMode" ng-click="skipExam()" translate>
              Skip
            </a>
          </div>
          <div>
            <button class="btn btn-primary" type="button" ng-click="startExam(chaExams.examType, chaExams.examProperties)" translate>Begin Exam</button>
          </div>
        </div>
       
        <br />

      </div>
      <div ng-if="chaExams.state !== 'measuringBackgroundNoise'">
          <div ng-if="chaExams.state === 'exam' || chaExams.state === 'results' || chaExams.state === 'repeat' || chaExams.state === 'repeatGroup' || chaExams.state === 'notes'">
            <div ng-if="isAudiometryExam"><audiometry-exam/></div>
            <div ng-if="chaExams.examType === 'DichoticDigits'"><dichotic-digits-exam/></div>
            <div ng-if="chaExams.examType === 'ThreeDigit'"><three-digit-exam/></div>
            <div ng-if="chaExams.examType === 'FrequencyPattern'"><frequency-pattern-exam/></div>
            <div ng-if="chaExams.examType === 'MLD'"><mld-exam/></div>
            <div ng-if="chaExams.examType === 'HINT'"><hint-exam/></div>
            <div ng-if="chaExams.examType === 'CRM'"><crm-exam/></div>
            <div ng-if="chaExams.examType === 'ThirdOctaveBands'"><third-octave-bands-exam/></div>
            <div ng-if="chaExams.examType === 'ToneGeneration'"><tone-generation-exam/></div>
            <div ng-if="chaExams.examType === 'DPOAE'"><dpoae-exam/></div>
            <div ng-if="chaExams.examType === 'TAT'"><tat-exam/></div>
            <div ng-if="chaExams.examType === 'TRT'"><threshold-check-exam/></div>
            <div ng-if="chaExams.examType === 'MaskedThreshold'"><masked-threshold-exam/></div>
          </div>
      </div>

    </div>
  </div>


</div>
