<div class="questionbox welcome-page">

  <img src="img/icon.svg" style="width: 50%; min-width: 175px;max-width: 300px;" alt="{{'TabSINT logo'|translate}}" />

  <h1 class="welcome welcome-title" translate>TABSINT</h1>

  <div class="spacer"></div>

  <div class="container">

    <a href="#" class="welcome-row" ng-click="scanQrCodeandAutoConfig()">
      <span><img src="img/QR_code.png" style="max-width: 29px" alt="{{'QR code logo'|translate}}" /></span>
      <span class="welcome" translate>Scan Configurations</span>
    </a>

    <a href="#" class="welcome-row" ng-click="switchToExamView()">
      <span><i class="ion-edit"></i></span>
      <span class="welcome" translate>Exam View</span>
    </a>

    <a href="#" class="welcome-row" ng-if="config.build !== 'heartrack'" ng-click="switchToAdminView()">
      <span><i class="ion-ios-gear"></i></span>
      <span class="welcome" translate>Admin View</span>
    </a>

    <a href="#" class="welcome-row" ng-if="config.build !== 'heartrack'" ng-click="router.goto('DOCS')">
      <span><i class="ion-help-buoy"></i></span>
      <span class="welcome" translate>Documentation</span>
    </a>

    <build-details/>

  </div>

</div>

<!-- Active Task Footer -->
<active-tasks></active-tasks>
