<div ng-controller="FreeFormResponseAreaCtrl">
    <button ng-click="clear()" style="position: relative;">Clear</button>
    <br /><br />
    <div style="position: relative">
        <div ng-if="image">
            <img ng-src="{{image.path}}" style="position: absolute; left:10; right:10;" ng-style="{'width': canvas.width, 'height': canvas.height}" alt="" />
        </div>
        <canvas id="canvas" style="position: absolute; left:10; right:10;" canvas-directive ng-click="update()" my-touchend="update()"></canvas>
        <br />
    </div>
</div>