<div>
  <div>
    <p>Presentation {{currentPresentation + 1}} / {{chaExams.examProperties.NPresentations}}</p>
    <p style="font-style: normal;" ng-if="page.dm.responseArea.training">{{trainingPattern}}</p>
    <p>&nbsp;{{tatInstructions}}&nbsp;</p>
  </div>
  <div class="omt">
    <table style="width:100%; margin-bottom:100px">
      <tbody>
      <tr>
        <td ng-repeat="N in [].constructor(chaExams.examProperties.NBlocks) track by $index">
          <button ng-disabled="excluded($index) || !selectable()"
                  ng-class="{
                        'btn btn-default btn-block':true,
                        'cha-tat-playing': playing($index),
                        'btn-default active': selected === $index
                      }"
                  ng-click="select($index)">
              <div class="cha-tat-training">
                {{excluded($index) ? "A" : "?"}}
              </div>
            </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="multi-choice-container">
    <div class="row response">
      <button ng-class="{'btn btn-default btn-block':true,'btn-default active': selected === 1}" ng-disabled="!selectable()" ng-click="select(1)">A B A A</button>
    </div>
    <div class="row">
      <button ng-class="{'btn btn-default btn-block':true,'btn-default active': selected === 2}" ng-disabled="!selectable()" ng-click="select(2)">A A B A</button>
    </div>
  </div>

</div>
