<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<!-- Select Frequency and Channel Output -->
<div class="row">
  <div class="col-xs-7">
    <span style="padding-left: 10px"><strong>Frequency</strong></span>
  </div>
  <div class="col-xs-5">
    <span class="dropdown" uib-dropdown id="frequency-dropdown">
      <button type="button" class="btn btn-block btn-default dropdown-toggle" uib-dropdown-toggle>
        {{data.currentFrequency / 1000}} kHz <span class="caret caret-position" style="margin-left: 10px"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <!-- use "Left" since it will always be defined -->
        <li ng-repeat="item in presentationList track by $index">
          <a href="#" ng-click="chooseFrequency($index)">{{item.F / 1000}}</a>
        </li>
      </ul>
    </span>
  </div>
</div>

<br />

<div class="row">
  <!-- Level Pane -->
  <div class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" heading="{{'Presentation'|translate}}"  is-open="panes.level">
        <div class="panel-body">

          <!-- Play Tone -->
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-4" style="justify-content: center;font-weight: bold;">
              Left
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4" style="justify-content: center;font-weight: bold;">
              Right
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row" ng-repeat="level in levels track by $index">
            <div class="col-xs-1"></div>
            <div class="col-xs-4">
              <button class="btn btn-block btn-primary" ng-class="{'active':focus===true}" style="height:60px; margin-top: 10px" ng-click="toggleToneButton('Left', $index)">
                <span ng-if="!btnState || data.currentLevel!==level || data.channel!=='Left'">{{level}} {{data.levelUnits}}</span>
                <span ng-if="btnState === 1 && data.currentLevel===level && data.channel==='Left'">Stop Tone</span>
              </button>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <button class="btn btn-block btn-danger" ng-class="{'active':focus===true}" style="height:60px; margin-top: 10px" ng-click="toggleToneButton('Right', $index, $event)">
                <span ng-if="!btnState || data.currentLevel!==level || data.channel!=='Right'">{{level}} {{data.levelUnits}}</span>
                <span ng-if="btnState === 1 && data.currentLevel===level && data.channel==='Right'">Stop Tone</span>
              </button>
            </div>
            <div class="col-xs-1"></div>
          </div>

          <div class="row pad-top"><hr style="width: 80%;"></div>

          <!-- Pass / Fail -->
          <div class="row pad-top">
            <div class="col-xs-1"></div>
            <div class="col-xs-4">
              <button class="btn btn-block btn-success" style="height:70px;" ng-click="setPass()">
                Pass
              </button>
            </div>
            <div class="col-xs-2" style="height: 70px; align-items: center;">or</div>
            <div class="col-xs-4">
              <button class="btn btn-block btn-primary" style="height:70px;" ng-click="setFail()">
                Refer
              </button>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>

<!-- Left/Right Ear Results table -->
<div class="row">
  <div class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" id="tblAudiometry" heading="{{'Results Table'|translate}}" is-open="panes.table">
        <div class="panel-body" ng-repeat="side in ['Left', 'Right']">
          <table class="table table-audiometry table-manual-screener" aria-describedby="tblAudiometry">
            <caption ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right'}">{{side}}</caption>
            <thead>
              <tr>
                <td colspan="2" rowspan="2" class="td-gap"></td>
                <th scope="row" colspan={{presentationList.length}}>{{'Frequency (kHz)'|translate}}</th>
              </tr>
              <tr>  
                <th ng-repeat="presentation in presentationList">
                  {{presentation.F / 1000}}
                </th>
            </thead>
            <tbody>
              <tr ng-repeat="level in levels track by $index">
                <th ng-if="$index == 0" scope="row" rowspan={{levels.length}} class="rotate-threshold-cell"><span class="rotation">{{'Screening Level (dB HL)'|translate}}</div></th>
                <th scope="row">{{level}}</th>
                <td ng-repeat="presentation in presentationList track by $index" ng-style="{'color':getColor(chaExams.storage.manualScreener.list[side][$index][$parent.$index])}">
                  {{chaExams.storage.manualScreener.list[side][$index][$parent.$index] ? formatScreenerResult(chaExams.storage.manualScreener.list[side][$index][$parent.$index].Threshold) : '-'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>
