
<div ng-if="srintState === 'exam'">
  <h3 ng-show="disk.appDeveloperMode">Demo Hint: Current Sound = {{currentPresentation.soundClass}}</h3>
  <!-- Remove the Demo Hint Once The Response Area is No Longer Under Development -->
  <div ng-repeat="c in categories track by $index" style="margin-bottom: 25px;">
    <div ng-if="soundCategoryChosen === true">
      <table style="text-align: center; width:100%; padding: 7px;">
        <tr>
          <td colspan="3" style="text-align: center;padding-bottom:15px;">
            <button class="btn btn-default" ng-click="selectSoundCategory(c.name)">{{c.name}}</button>
          </td>
        </tr>
        <tr>
            <td style="width: 49%;border-style: solid; border-width: 1px;padding: 4px;" ng-click="selectSoundClass(c.name, c.soundClasses[0].name)">
              <div>{{c.soundClasses[0].name}}</div>
              <img ng-src="{{c.soundClasses[0].imgPath}}" height="40px" alt="" />
            </td>
            <td style="width: 2%;">&nbsp;</td>
            <td style="width: 49%;border-style: solid;  border-width: 1px;padding: 4px;" ng-click="selectSoundClass(c.name, c.soundClasses[1].name)">
              <div>{{c.soundClasses[1].name}}</div>
              <img ng-src="{{c.soundClasses[1].imgPath}}" height="40px" alt="" />
            </td>
        </tr>
      </table>
    </div>
    <div ng-if="soundCategoryChosen === false ">
      <table style="text-align: center; width:100%; padding: 7px;">
        <tr>
          <td colspan="3" style="text-align: center;padding-bottom:15px;">
            <button class="btn btn-default" ng-click="selectSoundCategory(c.name)">{{c.name}}</button>
          </td>
        </tr>
        <tr>
          <td style="width: 49%;border-style: solid; border-width: 1px; border-color: gray;padding: 4px;" >
              <div style="color: gray">{{c.soundClasses[0].name}}</div>
              <img ng-src="{{c.soundClasses[0].imgPath}}" width="40px" height="40px" style="opacity: 0.5" alt="" />
          </td>
          <td style="width: 2%;">&nbsp;</td>
          <td style="width: 49%;border-style: solid; border-width: 1px; border-color: gray;padding: 4px;" >
              <div style="color: gray">{{c.soundClasses[1].name}}</div>
              <img ng-src="{{c.soundClasses[1].imgPath}}" height="40px" style="opacity: 0.5" alt="" />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div ng-if="!(trainingMode || hidePointsTotalAndGoal) && pointsGoal" style="text-align: center;">Number of points: {{chaExams.storage.soundRecognition.points}} out of {{pointsGoal}}</div>
  <div ng-if="pause">
    <br />
    <button class="btn btn-default" ng-click="pauseExam('User Pressed Pause Button')">Pause Test</button>
  </div>
</div>
<div ng-if="srintState === 'pause'">
  <div ng-bind-html="trustAsHtml(noResponseMessage)" ng-if="pauseTrigger === 'noResponse' && noResponseMessage"></div>
  <div ng-bind-html="trustAsHtml(incorrectMessageInitial)" ng-if="pauseTrigger === 'incorrectResponseInitial' && incorrectMessageInitial"></div>
  <div ng-bind-html="trustAsHtml(incorrectMessageRepeat)" ng-if="pauseTrigger === 'incorrectResponseRepeat' && incorrectMessageRepeat"></div>
  <br /><br />
  The test is paused.  Press 'RESUME' to continue the test with your current progress.  Press 'RESTART' to clear progress and start over.
  <div class="row">
    <div class="col-xs-6"><button class="btn btn-primary" style="margin: 30px auto;" ng-click="resumeExam()">Resume</button></div>
    <div class="col-xs-6"><button class="btn btn-secondary"  style="margin: 30px auto;" ng-click="restartExam()">Restart</button></div>
  </div>

</div>
