<div ng-controller="MultipleChoiceResponseAreaCtrl">
  
  <!-- this respArea feedback was modified so it mimics the feedback functionality of the 3D respArea lines 7-14, HG 12/7/15 -->
  <span class="multi-choice-container">
    <div class="row" ng-repeat="choice in choices">
      <div ng-controller="BasicChoiceController" ng-style="{{spacing}}">
        <button type="button" 
          ng-style="{'font-size':choice.fontSize,'background':(choice.backgroundColor)||(choice.disable&&'#cccccc'),'color':(choice.textColor)||(choice.disable&&'#666666')}"
          ng-class="
                {
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && multichosen(choice),
                  'btn-disabled' : gradeResponse || showCorrect || buttonDisabled,
                  'btn-success' : (gradeResponse || showCorrect) && multichosen(choice) && isCorrect(choice.id),
                  'btn-danger' : (gradeResponse || showCorrect) && multichosen(choice) && !isCorrect(choice.id),
                  'btn-faded' : showCorrect && !multichosen(choice)|| buttonDisabled
                }
              "
          ng-bind="label" ng-click="!choice.disable&&choose()" name="{{label}}">
        </button>
      </div>
    </div>
    <div class="row" style="margin-bottom: 200px" ng-if="enableOther && result.response === 'Other'">
      <span class="glyphicon glyphicon-arrow-right"></span>
      <input type="text" name="Other"
              ng-model="result.otherResponse"
              autofocus="true">
    
    </div>
  </span>

</div>
