<div ng-controller="AudiometryInputResponseAreaCtrl">

	<div class="container">

		<div ng-if="patientInfoList.length" class="row">
			<h2 style="border-bottom: 1px solid;padding-bottom: 8px;text-align:left;">Patient Information</h2>
		</div>

		<div class="row" ng-repeat="patientInfo in patientInfoList">

			<div class="col-xs-3 text-left">
				<label for={{patientInfo.trim().toLowerCase()}}>{{patientInfo}}:</label>
			</div>

			<div ng-if="patientInfo !== 'Audiogram Date'" >

				<div class="col-xs-1"></div>

				<div class="col-sm-6 col-md-4 col-xs-8" ng-if="patientInfo === 'Age'">
					<input id={{patientInfo.trim().toLowerCase()}} type="number"  class="form-control" maxlength="3" rows="1" ng-model="page.result.response.Age" style="text-align: left;"></input> 
				</div>

				<div ng-if="patientInfo === 'Gender'" class="dropdown col-sm-6 col-md-4 col-xs-8" uib-dropdown id="patient-demographics-dropdown">

					<button id={{patientInfo.trim().toLowerCase()}} type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle style="text-align: left;">
			              {{response[patientInfo] || "--"}} <span class="caret caret-position" style="margin-left: 0%"></span>
		            </button>	

		            <!-- list elements when open -->
		            
			        <ul class="dropdown-menu" uib-dropdown-menu>
			            <li ng-repeat="gender in genderOptions"><a href="#" ng-click="selectResponse(patientInfo, null, null, gender)">{{gender}}</a></li>
			        </ul>
				</div>
			</div>

			<div ng-if="patientInfo === 'Audiogram Date'">
				<div class="col-xs-1"></div>
				<div class="col-sm-6 col-md-4 col-xs-8">
					<input id={{patientInfo.trim().toLowerCase()}} type="date" min="2012-01-01" max="{{maxDate}}" ng-model="response.date" class="form-control"></input>
				</div>
			</div>
		</div>

		<br />

		<div class="row">
			<h2 style="border-bottom: 1px solid;padding-bottom: 8px;text-align:left;">Audiogram Data</h2>
		</div>
		<table class="autodiogram-data">
      <tr>
        <th>Hearing Level</th>
        <th>Right Ear</th>
        <th>Left Ear</th>
      </tr>
      <tr ng-repeat="audiogramFrequency in audiogramFrequencies">
        <td class="text-right">
          {{audiogramFrequency}}
        </td>
        <td>
          <div class="dropdown" uib-dropdown id="audiometry-input-right-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle style="color: red">
                {{response.right[audiogramFrequency] || "--"}} <span class="caret caret-position" style="margin-left: 10px; position: relative; color: red;"></span>
            </button>	

            <!-- list elements when open -->
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="threshold in thresholdOptions"><a href="#" ng-click="selectResponse('audio', audiogramFrequency, 'right', threshold)" style="color: red">{{threshold}}</a></li>
            </ul>
          </div>
        </td>
        <td>
          <div class="dropdown" uib-dropdown id="audiometry-input-right-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle style="color: blue">
                {{response.left[audiogramFrequency] || "--"}} <span class="caret caret-position" style="margin-left: 10px; position: relative; color: blue;"></span>
            </button>	

            <!-- list elements when open -->
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="threshold in thresholdOptions"><a href="#" ng-click="selectResponse('audio', audiogramFrequency, 'left', threshold)" style="color: blue">{{threshold}}</a></li>
            </ul>
          </div>        
        </td>

		  </tr>
    </table>
	</div>

</div>