<div ng-controller="AudiometryTableCtrl">
  <div ng-if="resultsList">

    <uib-tabset active="'horizontal'">
      <uib-tab heading="Default" index="'horizontal'" active="horizontal_wise">
        <br />
        <table class="table-audiometry table-striped table-layout-fixed" ng-repeat="channel in outputChannels" ng-init="side = ['HPL0', 'HPL1', 'LINEL0 NONE'].includes(channel) ? 'Left' : ['HPR0', 'HPR1', 'NONE LINEL0'].includes(channel) ? 'Right': 'Binaural' ">
          <caption ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}">
            <span>{{side}}</span>
          </caption>
          <tbody>
            <tr
              ng-if="resultsList[0].examType != 'BHAFT'">
              <th scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'">
                {{result.examProperties.F / 1000}}</td>
              </th>
            </tr>
            <tr ng-if="resultsList[0].examType === 'BHAFT'">
              <th scope="row">{{'Threshold Frequency'|translate}}<br />(Hz)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'">
                {{result.ThresholdFrequency | round}}</td>
            </tr>
            <tr ng-if="resultsList[0].examType === 'BHAFT'">
              <th scope="row">{{'Threshold Level'|translate}}<br />({{resultsList[0].examProperties.LevelUnits}})</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'">
                {{result.ThresholdLevel | round}}</td>
            </tr>
            <tr
              ng-if="resultsList[0].examType != 'BHAFT'">
              <th scope="row"><span ng-if="resultsList[0].examType == 'MaskedThreshold' || resultsList[0].page.responseArea.masking ">{{'Masked'|translate}} </span>{{(resultsList[0].examProperties && resultsList[0].examProperties.Screener) || (resultsList[0].page.responseArea.examProperties && resultsList[0].page.responseArea.examProperties.Screener) ? 'Screening Level' : 'Threshold'}}<br />({{resultsList[0].examType == 'MaskedThreshold' ? 'dB HL' : resultsList[0].examProperties.LevelUnits || resultsList[0].Units}})</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'">
                <span ng-if="!result.examProperties.Screener">{{getThresholdText(result)}}</span>
                <span ng-if="result.examProperties.Screener" ng-style="{'color':result.ResultType == 'Fail' ? 'red': 'black'}">{{formatScreenerResult(result.ResultType)}}</span>
              </td>
            </tr>
            <tr ng-if="resultsList[0].examType == 'MaskedThreshold' || resultsList[0].page.responseArea.masking">
              <th scope="row">{{'Masking'|translate}}<br />{{'(dB EM)'|translate}}</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'">{{result.MaskingLevel || result.FinalMaskingLevel}}</td>
            </tr>
            <tr
              ng-if="showSLMNoise && resultsList[0].examType != 'BHAFT'">
              <th scope="row">SLM L<sub>Fc</sub><br />(dB SPL)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'"><span
                  ng-if="result.slm.bandLevel">{{result.slm.bandLevel.toPrecision(3)}}</span></td>
            </tr>
            <tr ng-if="showSLMNoise">
              <th scope="row">SLM LA<sub>eq</sub><br />(dB SPL)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'"><span ng-if="result.slm.LeqA">{{result.slm.LeqA.toPrecision(3)}}</span>
              </td>
            </tr>
            <tr
              ng-if="showSvantek && resultsList[0].examType != 'BHAFT'">
              <th scope="row">Dosimeter L<sub>Fc</sub><br />(dB SPL)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'"><span
                  ng-if="result.svantek.bandLevel">{{result.svantek.bandLevel.toPrecision(3)}}</span></td>
            </tr>
            <tr ng-if="showSvantek">
              <th scope="row">Dosimeter LA<sub>eq</sub><br />(dB SPL)</th>
              <td ng-repeat="result in resultsList | reverse | filterBy: ['examProperties.OutputChannel']: channel | unique: 'presentationId' | orderBy: 'examProperties.F'"><span
                  ng-if="result.svantek.LeqA">{{result.svantek.LeqA.toPrecision(3)}}</span></td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab heading="Full Results" index="'vertical'" active="vertical_tab">
        <br />
        <table class="table-audiometry table-striped table-rotate">
          <tbody ng-repeat="channel in outputChannels" ng-init="side = ['HPL0', 'HPL1', 'LINEL0 NONE'].includes(channel) ? 'Left': ['HPR0', 'HPR1', 'NONE LINEL0'].includes(channel) ? 'Right': 'Binaural' ">
            <tr
            ng-if="resultsList[0].examType != 'BHAFT' && (side == 'Left' || channel === 'HPL0 HPR0')">
              <th scope="row">{{'Frequency'|translate}}<br />(kHz)</th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                {{result.examProperties.F / 1000}}</td>
              </th>
            </tr>
            <tr ng-if="resultsList[0].examType === 'BHAFT'">
              <th scope="row">{{'Threshold Frequency'|translate}}<br />(Hz)</th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                {{result.ThresholdFrequency | round}}</td>
            </tr>
            <tr ng-if="resultsList[0].examType === 'BHAFT'">
              <th scope="row">{{'Threshold Level'|translate}}<br />({{resultsList[0].examProperties.LevelUnits}})</th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                {{result.ThresholdLevel | round}}</td>
            </tr>
            <tr ng-if="resultsList[0].examType != 'BHAFT'">
              <th scope="row" ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}">
                {{side}}
                <br />
                {{resultsList[0].examType == 'MaskedThreshold' || resultsList[0].page.responseArea.masking ? 'Masked' : ''}} {{(resultsList[0].examProperties && resultsList[0].examProperties.Screener) || (resultsList[0].page.responseArea.examProperties && resultsList[0].page.responseArea.examProperties.Screener)? 'Screening Level' : 'Threshold'}}
                <br />
                (
                  {{resultsList[0].examProperties.LevelUnits || resultsList[0].Units}} {{resultsList[0].examType == 'MaskedThreshold' || resultsList[0].page.responseArea.masking ? '&nbsp;|&nbsp;dB EM' : ''}}
                )
              </th>
              <td ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}" ng-if="resultsList[0].examType != 'BHAFT'"
                  ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                    <span ng-if="!result.examProperties.Screener">{{getThresholdText(result)}}</span>
                    <span ng-if="result.examProperties.Screener" ng-style="{'color':result.ResultType == 'Fail' ? 'red': 'black'}">{{formatScreenerResult(result.ResultType)}}</span>
                  <span ng-if="resultsList[0].examType == 'MaskedThreshold' || resultsList[0].page.responseArea.masking">
                    &nbsp;|&nbsp;{{result.MaskingLevel || result.FinalMaskingLevel}}
                  </span>
              </td>
            </tr>
            <tr ng-if="showSLMNoise && !['BHAFT'].includes(resultsList[0].examType)">
              <th ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}" scope="row">
                <span>SLM</span>  
                <span>L<sub>Fc</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                <span ng-if="result.slm.bandLevel">{{result.slm.bandLevel.toPrecision(3)}}</span>
              </td>
            </tr>
            <tr ng-if="showSLMNoise">
              <th ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}" scope="row">
                <span>SLM</span>
                <span>LA<sub>eq</sub></span>
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                <span ng-if="result.slm.LeqA">{{result.slm.LeqA.toPrecision(3)}}</span>
              </td>
            </tr>
            <tr ng-if="showSvantek && !['BHAFT'].includes(resultsList[0].examType)">
              <th ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}" scope="row">
                <span>Dosimeter</span> 
                <span>L<sub>Fc</sub></span> 
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel">
                <span ng-if="result.svantek.bandLevel">{{result.svantek.bandLevel.toPrecision(3)}}</span>
              </td>
            </tr>
            <tr ng-if="showSvantek">
              <th ng-class="{'caption-left':side === 'Left', 'caption-right':side === 'Right', 'caption-binaural': channel === 'HPL0 HPR0'}" scope="row">
                <span>Dosimeter</span> 
                <span>LA<sub>eq</sub></span> 
                <span>(dB SPL)</span>
              </th>
              <td ng-repeat="result in resultsList | filterBy: ['examProperties.OutputChannel']: channel"><span
                  ng-if="result.svantek.LeqA">{{result.svantek.LeqA.toPrecision(3)}}</span></td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<!-- legend include -->
<div style="display: flex;margin-bottom: 20px;" ng-include="'scripts/components/response-areas/audiometry/legend.html'">
</div>
