<div>
  &nbsp;{{thresholdCheckInstructions}}&nbsp;
</div>
<div ng-if="state === 'running'" style="text-align: center; vertical-align: middle">
  <button ng-class="btnClassLeft"
          my-touchstart="select('left')"
          my-touchend="pressSoftwareButtonEnd()">
    {{btnTextLeft}}
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button ng-class="btnClassRight"
          my-touchstart="select('right')"
          my-touchend="pressSoftwareButtonEnd()">
    {{btnTextRight}}
  </button>
  <br />
</div>
