
<br />

<uib-accordion close-others="false">

  <!-- General Configuration  -->
  <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.general">
    <uib-accordion-heading>
      {{'TabSINT'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.general, "glyphicon-chevron-down": !adminLogic.panes.config.general}'></i>
    </uib-accordion-heading>   
    <div class="panel-body text-left">

      <!-- Headset -->
      <div class="row pad-top">
        <div class="col-xs-5"><label translate for="defaultHeadset">Default Headset:</label></div>
        <div class="col-xs-5 dropdown-width">
          <span class="dropdown" uib-dropdown id="headset-dropdown">
            <button id="defaultHeadset" type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="headsets[disk.headset]">
              {{headsets[disk.headset]|translate}} <span class="caret caret-position" style="margin-left: 10px"></span>
            </button>
            <button id="defaultHeadset" type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="headsets[disk.headset]===undefined">
                None <span class="caret caret-position" style="margin-left: 10px"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(headsetID, headsetDisplay) in headsets"><a href="#" ng-click="changeHeadset(headsetID, true)">{{headsetDisplay}}</a></li>
            </ul>
          </span>
        </div>
        <div class="col-xs-1"><a href="#" title="{{'Default Headset help' | translate}}" uib-popover-html="headsetPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Select Language -->
      <div class="row pad-top">
        <div class="col-xs-5"><label translate for="selectLanguage">Select Language:</label></div>
        <div class="col-xs-5 dropdown-width">
          <span class="dropdown" uib-dropdown id="language-dropdown">
            <button id="selectLanguage" type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="languages[disk.language]">
                {{languages[disk.language]|translate}}<span class="caret caret-position" style="margin-left: 10px"></span>
            </button>
            <button id="selectLanguage" type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="languages[disk.language] === undefined">
                English<span class="caret caret-position" style="margin-left: 10px"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="(languageID, languageDisplay) in languages"><a href="#" ng-click="changeLanguage(languageID, true)">{{languageDisplay|translate}}</a></li>
            </ul>
          </span>
        </div>
        <div class="col-xs-1"><a href="#" title="{{'Select Language help' | translate}}" uib-popover-html="languagePopover|translate" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Show Advanced -->
      <div class="row showhideSection">
        <div class="col-xs-12 text-center">
          <a href="#" ng-click="adminLogic.panes.config.advanced = !adminLogic.panes.config.advanced">
            <span ng-if="adminLogic.panes.config.advanced" translate>Hide Advanced Settings <i class="ion-chevron-up"></i></span>
            <span ng-if="!adminLogic.panes.config.advanced" translate>Show Advanced Settings <i class="ion-chevron-down"></i></span>
          </a>
        </div>
      </div>

      <div uib-collapse="!adminLogic.panes.config.advanced">

        <div class="row pad-top" >
          <div class="col-xs-12"><h5>Preferences</h5></div>
        </div>

        <!-- Admin Mode -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="adminMode">Admin Mode:</label></div>
          <div class="col-xs-2"><input id="adminMode" type="checkbox" ng-model="disk.debugMode" ng-change="adminLogic.toggleDebugMode()" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Admin Mode help' | translate}}" uib-popover-html="adminPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6">Admin PIN:</div>
          <div class="col-xs-2">{{disk.pin}}</div>
          <div class="col-xs-1"><a href="#" title="{{'Admin PIN edit' | translate}}" ng-click="changePin.editAdminPin()"><i class="ion-edit"></i></a></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"><a href="#" title="{{'Admin PIN help' | translate}}" uib-popover-html="adminPinPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- External Control Mode -->
        <div ng-if="disk.appDeveloperMode">
          <div class="row pad-top">
            <div class="col-xs-6"><label translate for="extContolMode">External Control Mode:</label></div>
            <div class="col-xs-2"><input id="extContolMode" type="checkbox" ng-model="disk.externalMode" ng-change="adminLogic.toggleExternalMode()" /></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1"><a href="#" title="{{'External Control Mode help' | translate}}" uib-popover-html="externalControlPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
          </div>
        </div>

        <!-- Disable Logs -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="disableLogs">Disable Logs:</label></div>
          <div class="col-xs-2"><input id="disableLogs" type="checkbox" ng-model="disk.disableLogs" ng-change="adminLogic.toggleDisableLogs()" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Disable Logs help' | translate}}" uib-popover-html="disableLogsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Set the Maximum number of log records -->
        <div class="row pad-top">
          <div class="col-xs-6" translate>Max Log Length:</div>
          <div class="col-xs-2">{{disk.maxLogRows}}</div>
          <div class="col-xs-1"><a href="#" title="{{'Max Log Length edit' | translate}}" ng-click="changeLog.editMaxLogRows()"><i class="ion-edit"></i></a></div>
          <div class="col-xs-1"> </div>
          <div class="col-xs-1"><a href="#" title="{{'Max Log Length help' | translate}}" uib-popover-html="setMaxLogRowsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Disable Automatic Volume Control -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="automaticVolControl">Automatic Volume Control:</label></div>
          <div class="col-xs-2"><input id="automaticVolControl" type="checkbox" ng-model="disk.disableVolume" ng-change="adminLogic.toggleDisableVolume()" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Automatic Volume Control help' | translate}}" uib-popover-html="disableVolumePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Enable Admin Skip -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="enableSkip">Enable Skip in Exams:</label></div>
          <div class="col-xs-2"><input id="enableSkip" type="checkbox" ng-model="disk.adminSkipMode" ng-change="adminLogic.toggleAdminSkipMode()" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Enable Skip in Exams help' | translate}}" uib-popover-html="adminSkipModeControlPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Enforce Results Encryption -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="requireEncryption">Require Encryption:</label></div>
          <div class="col-xs-2"><input id="requireEncryption" type="checkbox" ng-model="disk.requireEncryptedResults" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Require Encription help' | translate}}" uib-popover-html="requireEncryptedResultsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Record Test Location -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="recordTestLocation">Record Test Location:</label></div>
          <div class="col-xs-2"><input id="recordTestLocation" type="checkbox" ng-change="requestLocationPermission()" ng-model="disk.recordTestLocation" /></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1"><a href="#" title="{{'Record Test Location help' | translate}}" uib-popover-html="recordTestLocationPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- QR Code Generation -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="QRCode">QR Code:</label></div>
          <div class="col-xs-4">
            <button id="QRCode" class="btn btn-default btn-block" ng-click="config.generateQRCode()">{{'Generate'|translate}}</button>
          </div>
          <div class="col-xs-1"><a href="#" title="{{'QR Code help' | translate}}" uib-popover-html="qrCodePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Display QR Code -->
        <div ng-if="config.qRCodeUrl">
          <div class="row pad-top">
            <div class="col-xs-11">
              <img ng-src="{{config.qRCodeUrl}}" alt="{{'Generated QR Code'|translate}}" />
            </div>
          </div>
        </div>

        <!-- Reset -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="resetConfig">Reset configuration:</label></div>
          <div class="col-xs-4">
            <button id="resetConfig" type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-danger" ng-click="resetConfig()">
              Reset
            </button>
          </div>
          <div class="col-xs-1"><a href="#" title="{{'Reset configuration help' | translate}}" uib-popover-html="resetConfigurationPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <br />

        <div class="row pad-top" >
          <div class="col-xs-12"><h5>Results Preferences</h5></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6"><label for="outputResults">{{'Automatically output test results'|translate}}:</label></div>
          <div class="col-xs-2"><input id="outputResults" type="checkbox" ng-model="disk.autoUpload" ng-change="toggleAutoUpload()" /></div>
          <div class="col-xs-2"> </div>
          <div class="col-xs-1"><a href="#" title="{{'Automatically output test results help' | translate}}" uib-popover-html="automaticallyOutputResultsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- HG, To prevent accidental Exports, also allows git protocols to run as local only -->
        <div class="row pad-top">
          <div class="col-xs-6"><label for="resultsMode">Results Mode:</label></div>
          <div class="col-xs-6">
            <span class="dropdown" uib-dropdown id="resultsMode-dropdown">
              <button for="resultsMode" type="button" class="btn btn-default dropdown-toggle results-mode-width" uib-dropdown-toggle>
                {{resultsModeOptions[disk.resultsMode]}} <span class="caret caret-position" style="margin-left: 10px"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="(resultsModeID, resultsModeDisplay) in resultsModeOptions"><a href="#" ng-click="changeResultsMode(resultsModeID, true)">{{resultsModeDisplay}}</a></li>
              </ul>
            </span>
          </div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6"><label for="localResultsDir">{{'Local Results Directory'|translate}}:</label></div>
          <div class="col-xs-5"><em>{{disk.servers.localServer.resultsDir}}</em></div>
          <!-- <div class="col-xs-2">{{disk.servers.localServer.resultsDir}}</em></div> -->
        </div>
        <div class="row pad-top">
          <div class="col-xs-6"></div>
          <div class="col-xs-6">
            <button id="localResultsDir" class="btn btn-default btn-block" ng-click="localServer.changeResultsDirectory()">{{'Change Directory'|translate}}</button>
          </div>
        </div>

        <br />
        <br />

        <div class="row pad-top" >
          <div class="col-xs-12"><h5>Calibration</h5></div>
        </div>

        <!-- Tablet Gain -->
        <div class="row pad-top">
          <div class="col-xs-6"><label translate for="tabletGain">Tablet Gain</label></div>
          <div class="col-xs-2"><input id="tabletGain" type="number" enter-close class="form-control" ng-model="disk.tabletGain" /></div>
          <div class="col-xs-1"><a href="#" title="{{'Minus' | translate}}" ng-click="disk.tabletGain = -disk.tabletGain"><i class="ion-minus"></i></a></div>
          <div class="col-xs-1"><a href="#" title="{{'Refresh' | translate}}" ng-click="gain.reset()"><i class="ion-refresh"></i></a></div>
          <div class="col-xs-1"><a href="#" title="{{'Tablet Gain help' | translate}}" uib-popover-html="gainPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Calibration -->
        <div class="row pad-top" ng-if="disk.debugMode">
          <div class="col-xs-4">
            <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="media.play1kHz94dB()">
              1 kHz <wbr> 94 dB
            </button>
          </div>
          <div class="col-xs-4">
            <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="media.playCompAudio()">
              Comp. Log
            </button>
          </div>
          <div class="col-xs-4">
            <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="media.playCompAudioLinear()">
               Comp. Linear
            </button>
          </div>
        </div>
        <!-- end advanced -->
      </div>
    </div>
  </div>

  <!-- WAHTS -->
  <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.cha">
    <uib-accordion-heading>
      {{'WAHTS'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.cha, "glyphicon-chevron-down": !adminLogic.panes.config.cha}'></i>
    </uib-accordion-heading>   
    <cha-admin></cha-admin>
  </div>

  <!-- Svantek Dosimeter -->
  <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.svantek">
    <uib-accordion-heading>
      {{'Dosimeter'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.svantek, "glyphicon-chevron-down": !adminLogic.panes.config.svantek}'></i>
    </uib-accordion-heading>
    <svantek-admin></svantek-admin>
  </div>

  <!-- Flic buttons -->
  <!-- <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.flic">
    <uib-accordion-heading>
      {{'Flic Buttons'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.flic, "glyphicon-chevron-down": !adminLogic.panes.config.flic}'></i>
    </uib-accordion-heading>
    <flic-admin></flic-admin>
  </div> -->

  <!--Inter-App Communication-->
  <div uib-accordion-group class="panel panel-default" ng-if="disk.appDeveloperMode" is-open="adminLogic.panes.interapp">
    <uib-accordion-heading>
      {{'Communicate With Other Apps'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.interapp, "glyphicon-chevron-down": !adminLogic.panes.interapp}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <!-- App Name -->
      <div class="row pad-top">
        <div class="col-xs-4"><label for="appName">App Name:</label></div>
        <div class="col-xs-6"><input id="appName" type="text" enter-close class="form-control" placeholder="app name" ng-model="disk.interApp.appName" /></div>
        <div class="col-xs-1"><a href="#" title="{{'App Name help' | translate}}" uib-popover-html="interAppNamePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Message -->
      <div class="row pad-top">
        <div class="col-xs-4"><label for="message">Message:</label></div>
        <div class="col-xs-6"><input id="message" type="text" enter-close class="form-control" placeholder="message" ng-model="disk.interApp.dataOut.message" /></div>
        <div class="col-xs-1"><a href="#" title="{{'Message help' | translate}}" uib-popover-html="interAppMessagePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Data -->
      <div class="row pad-top">
        <div class="col-xs-4"><label for="data">Data:</label></div>
        <div class="col-xs-6"><input id="data" type="text" enter-close class="form-control" placeholder="data" ng-model="disk.interApp.dataOut.data" /></div>
        <div class="col-xs-1"><a href="#" title="{{'Data help' | translate}}" uib-popover-html="interAppDataPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Send -->
      <div class="row pad-top">
        <div class="col-xs-4"></div>
        <div class="col-xs-6">
          <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="adminLogic.sendInterAppData()">Send</button>
        </div>
        <div class="col-xs-1"><a href="#" title="{{'Send help' | translate}}" uib-popover-html="interAppSendPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <!-- Last Received Message -->
      <div class="row pad-top">
        <div class="col-xs-10"><strong>Last Received</strong></div>
        <div class="col-xs-1"><a href="#" title="{{'Last Received help' | translate}}" uib-popover-html="interAppLastMessagePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>
      <div class="row pad-top" ng-repeat="(key, value) in disk.interApp.dataIn">
        <div class="col-xs-4">{{key}}:</div>
        <div class="col-xs-7">{{value}}</div>
      </div>
    </div>
  </div>

  <!-- Plugins -->
  <div ng-repeat="panel in plugins.elems.adminPanels" uib-accordion-group class="panel panel-default plugin-panel" is-open="adminLogic.panes.config[panel.title]">
    <div class="panel-heading text-left">
      <i class="ion-outlet" ></i>
      <strong style="padding-left: 5px">{{panel.title}}</strong>
    </div>
    <ng-include src="panel.templateUrl"/>
  </div>

  <!-- Software and Hardware Status -->
  <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.software">
    <uib-accordion-heading>
      {{'Software and Hardware'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.software, "glyphicon-chevron-down": !adminLogic.panes.config.software}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <div class="row pad-top" translate>
        <div class="col-xs-12">
          TabSINT is developed by <a href="https://www.creare.com/">Creare</a> and available open source on <a href="https://gitlab.com/creare-com/tabsint">gitlab.com/creare-com/tabsint</a>.
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-xs-12"><h5>{{'Version'|translate}}</h5></div>
      </div>
      <ul class="admin-info">
        <li>
          <b>TabSINT:</b>
          <span>{{version.dm.tabsint}}</span>
        </li>
        <li ng-click="adminLogic.toggleAppDeveloperMode()">
          <b>{{'Build Name'|translate}}:</b>
          <span>
            {{config.build}}
            <span ng-if="disk.appDeveloperMode">
              - App-Developer Mode is on <button class="btn btn-default" ng-click="adminLogic.toggleAppDeveloperMode()">Turn Off</button>
            </span>
            <span ng-if="!disk.appDeveloperMode && disk.appDeveloperModeCount > 1">
              - Tap {{5-disk.appDeveloperModeCount}} more times to turn on App-Developer Mode
            </span>
          </span>
        </li>
        <li>
          <b>{{'Build Date'|translate}}:</b>
          <span>{{version.dm.date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </li>
      </ul>

      <br />

      <div class="row">
        <div class="col-xs-12"><h5>{{'Device'|translate}}</h5></div>
      </div>
      <ul class="admin-info">
        <li>
          <b>{{'Device UUID'|translate}}:</b>
          <span>{{devices.UUID}}</span>
        </li>
        <li>
          <b>{{'Device Model'|translate}}:</b> 
          <span>{{devices.model}}</span>
        </li>
        <li>
          <b>{{'Operating System'|translate}}:</b>
          <span>{{devices.platform}} {{devices.version}}</span>
        </li>
        <li>
          <b>{{'Free Disk Space'|translate}}:</b>
          <span>{{devices.diskSpace}} MB</span>
        </li>
        <li>
          <b>{{'Network Status'|translate}}:</b>
          <span ng-if="networkModel.status">{{'Online'|translate}}</span> 
          <span ng-if="!networkModel.status">{{'Offline'|translate}}</span>
        </li>
        <li>
          <b>{{'Network Type'|translate}}:</b>
          <span>{{networkModel.type}}</span>
        </li>
      </ul>

      <br />

      <div class="row">
        <div class="col-xs-12"><h5>{{'Plugins'|translate}}</h5></div>
      </div>
      <ul class="admin-info">
        <li ng-repeat="(key, value) in config.tabsintPlugins">
          <b>{{key}}:</b>
          <span>{{value.version}}</span>
        </li>
      </ul>

      <br />

      <div class="row">
        <div class="col-xs-12"><h5>{{'Build Details'|translate}}</h5></div>
      </div>
      <ul class="admin-info">
        <li>
          <b>{{'Cordova Version'|translate}}:</b>
          <span>{{version.dm.deps.cordova}}</span>
        </li>
        <li>
          <b>{{'Node Version'|translate}}:</b>
          <span>{{version.dm.deps.node}}</span>
        </li>
        <li>
          <b>{{'Build System'|translate}}:</b>
          <span>{{version.dm.deps.user_agent}}</span>
        </li>
      </ul>

      <br />

      <!-- Releases -->
      <!-- <div class="row">
        <div class="col-xs-12"><strong>{{'Update TabSINT'|translate}}</strong></div>
      </div>

      <div class="row pad-top" ng-if="config.releases">
        <div class="col-xs-12">
          <a ng-click="viewReleases(config.releases)">{{'View Releases'|translate}}</a>
        </div>
      </div>

      <div class="row pad-top release-link-display" ng-if="!config.releases">
        <div class="col-xs-12">
          <a ng-click="viewReleases('Google')">{{'Latest Release (Google Play Store)'|translate}}</a>
        </div>
        <div class="col-xs-12">
          <a ng-click="viewReleases('Gitlab')">{{'View All Releases (Repository)'|translate}}</a>
        </div>
      </div> -->
    </div>
  </div>

  <!-- Log view -->
  <div uib-accordion-group class="panel panel-default" is-open="adminLogic.panes.config.logs">
    <uib-accordion-heading>
      {{'Application Log'| translate}} <i class='pull-right glyphicon' ng-class='{"glyphicon-chevron-up": adminLogic.panes.config.logs, "glyphicon-chevron-down": !adminLogic.panes.config.logs}'></i>
    </uib-accordion-heading>
    <div class="panel-body text-left">

      <div class="row">
        <div class="col-xs-12">{{'Number of log messages'|translate}}: {{logs.count.newlogs}}</div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-success" ng-click="logExport.upload(true)"><i class="ion-upload"></i> {{'Upload'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-primary"  ng-click="logExport.save(true)"><span class="glyphicon glyphicon-floppy-disk"></span> {{'Export'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-default" ng-click="displayLogs()"><i class="ion-document-text"></i> {{'Display'|translate}}</button>
        </div>
      </div>

      <div class="row pad-top" ng-if="logs.show">
        <div class="col-xs-12">
          <div class="well admin-log-display">
            <div ng-repeat="log in logs.disp.slice(0, logs.nLogs)">
              <div class="row">

                <!-- <div class="col-xs-1"></div> -->
                <div class="col-xs-12"><strong>[{{log.date.split(' ')[1]}}]</strong>: {{log.data}} </div>
              </div>
            </div>
            <div class="row" ng-if="logs.disp.length - logs.nLogs > 0">
              <div class="col-xs-6">({{logs.disp.length - logs.nLogs}} not shown) </div>
              <div class="col-xs-6"><button type="button" class="btn btn-default btn-block" ng-click="logs.nLogs = logs.nLogs+50"> + 50</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</uib-accordion>
