

<div class="panel-body text-left">

  <!-- Cha State -->
  <div class="row pad-top">
    <div class="col-xs-4 admin-labels">State: </div>
    <div class="col-xs-8" ng-if="cha.state === 'connected'"><em>Connected</em></div>
    <div class="col-xs-8" ng-if="cha.state === 'disconnected'"><em>Not Connected</em></div>
    <div class="col-xs-8" ng-if="cha.state === 'reprogram'"><em>Reprogramming</em></div>
    <div class="col-xs-8" ng-if="cha.state !== 'connected' && cha.state !== 'disconnected' && cha.state !== 'reprogram'"><em>Connecting</em></div>
  </div>

  <!-- Preferred Cha -->
  <div class="row pad-top" ng-if="disk.cha.myCha">
    <div class="col-xs-4">Preferred: </div>
    <div class="col-xs-4" style="word-wrap: break-word;">{{disk.cha.myCha}}</div>
    <div class="col-xs-4">
      <button class="btn btn-default btn-block" ng-click="removeCha()">Remove</button>
    </div>
  </div>

  <!-- Bluetooth Message-->
  <div class="row pad-top" ng-if="!bluetoothStatus.state">
    <div class="col-xs-10 text-warning"><em>Bluetooth radio disabled</em></div>
  </div>


  <!-- Connection Buttons-->
  <div class="row pad-top">
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block" ng-disabled="!bluetoothStatus.state" ng-class="!bluetoothStatus.state ? 'disabled custom-disabled': ''" ng-click="cha.connect()">Connect</button>
    </div>
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block" ng-click="cha.disconnect()">Disconnect</button>
      <button ng-switch-when="discovery" class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
    </div>
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block" ng-click="cha.cancelConnect()">Cancel</button>
      <button ng-switch-when="reprogram" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
    </div>
  </div>

  <!-- Connected Cha -->
  <div ng-if="cha.state === 'connected'">

    <hr />
    <cha-info></cha-info>

<!--Remove Reboot option for now, because it is not working. TODO: Fix reboot functionality or remove it altogether.      -->
    <!-- Reboot CHA -->
    <!--<div class="row pad-top" ng-if="!chaExamInProgress">-->
      <!--<div class="col-xs-4">Reboot:</div>-->
      <!--<div class="col-xs-4">-->
        <!--<button  ng-disabled="tasks.disabled" class="btn btn-primary btn-block"  ng-click="cha.reboot()">-->
          <!--<span class="glyphicon glyphicon-refresh"></span> Reboot-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <!-- Show Advanced -->
  <div class="row showhideSection">
    <div class="col-xs-12 text-center">
      <a href="#" ng-click="panes.config.chaAdvanced = !panes.config.chaAdvanced">
        <span ng-if="panes.config.chaAdvanced" translate>Hide Advanced Settings <i class="ion-chevron-up"></i></span>
        <span ng-if="!panes.config.chaAdvanced" translate>Show Advanced Settings <i class="ion-chevron-down"></i></span>
      </a>
    </div>
  </div>

  <div uib-collapse="!panes.config.chaAdvanced">

    <div class="row pad-top">
      <div class="col-xs-12"><h5>Preferences</h5></div>
    </div>

    <!-- Bluetooth Choice -->
    <div class="row pad-top">
      <div class="col-xs-5"><label for="type">Type:</label></div>
      <div class="col-xs-5">
        <span class="dropdown" uib-dropdown id="bluetooth-type-dropdown">
          <button id="type" type="button" class="btn btn-default dropdown-toggle bluetooth-width" uib-dropdown-toggle>
            {{bluetoothTypes[getBluetoothType()] || "None"}}<span class="caret caret-position" style="margin-left: 10px"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="(bluetoothID, bluetoothDisplay) in bluetoothTypes"><a href="#" ng-click="changeBluetoothType(bluetoothID)">{{bluetoothDisplay}}</a></li>
          </ul>
        </span>
      </div>
      <!-- <div class="col-xs-1"></div> -->
      <div class="col-xs-1"><a href="#" title="{{'Type help' | translate}}"  uib-popover-html="bluetoothTypePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <!-- Disable Audio Streaming -->
    <div class="row pad-top">
      <div class="col-xs-6"><label translate for="disableAudioStreaming">Disable Audio Streaming:</label></div>
      <div class="col-xs-2"><input id="disableAudioStreaming" type="checkbox" ng-model="disk.disableAudioStreaming" ng-change="toggleStreaming()" /></div>
      <div class="col-xs-2"></div>
      <div class="col-xs-1"><a href="#" title="{{'Disable Audio Streaming help' | translate}}" uib-popover-html="disableAudioStreamingPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <!-- Disable Firmware Updates-->
    <div class="row pad-top">
      <div class="col-xs-6"><label translate for="ignoreFirmwareMsg">Ignore Firmware Update Message:</label></div>
      <div class="col-xs-2"><input id="ignoreFirmwareMsg" type="checkbox" ng-model="disk.cha.ignoreFirmwareUpdates"></div>
      <div class="col-xs-2"></div>
      <div class="col-xs-1"><a href="#" title="{{'Ignore Firmware Update Messag help' | translate}}" uib-popover-html="ignoreFirmwareUpdatesPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <!-- Select WAHTS Shutdown Time -->
    <div class="row pad-top">
      <div class="col-xs-5" translate>Auto Shutdown Time:</div>
      <div class="col-xs-3">{{disk.shutdownTimer}} mins </div>
      <div class="col-xs-1"><a href="#" title="{{'WAHTS Shutdown Timer edit' | translate}}" ng-click="changeTimer.editShutdownTimer()"><i class="ion-edit"></i></a></div>
      <div class="col-xs-1"> </div>
      <div class="col-xs-1"><a href="#" title="{{'WAHTS Shutdown Timer help' | translate}}" uib-popover-html="setShutdownTimerPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <br />

    <div class="row pad-top">
      <div class="col-xs-12 admin-labels"><h5>Firmware</h5></div>
    </div>

    <!-- TabSINT Firmware -->
    <div class="row pad-top">
      <div class="col-xs-4 admin-labels">Firmware:</div>
      <div class="col-xs-6" ng-if="disk.cha.embeddedFirmwareBuildDate">{{disk.cha.embeddedFirmwareBuildDate}}</div>
      <div class="col-xs-6" ng-if="!disk.cha.embeddedFirmwareBuildDate"><i>None</i></div>
      <div class="col-xs-1"><a href="#" title="{{'Firmware help' | translate}}" uib-popover-html="firmwarePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <div class="row pad-top">
      <div class="col-xs-4 admin-labels">Tag:</div>
      <div class="col-xs-6" ng-if="disk.cha.embeddedFirmwareBuildDate">{{disk.cha.embeddedFirmwareTag}}</div>
      <div class="col-xs-6" ng-if="!disk.cha.embeddedFirmwareBuildDate"><i>None</i></div>
      <div class="col-xs-1"><a href="#" title="{{'Tag help' | translate}}" uib-popover-html="firmwarePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <!-- Update Firmware -->
    <div class="row pad-top" ng-if="cha.state === 'connected'">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <button ng-if="disk.cha.embeddedFirmwareBuildDate" class="btn btn-primary btn-block" ng-disabled="tasks.isOngoing(chaTasks.UPDATE_FIRMWARE)" ng-click="updateCHAFirmware()">Update</button>
      </div>
      <div class="col-xs-4">
        <button ng-if="tasks.isOngoing(chaTasks.UPDATE_FIRMWARE)" class="btn btn-primary btn-block"  ng-click="cha.cancelFirmwareUpdate()">Cancel </button>
      </div>
    </div>

    <!-- CHA Media -->
    <div ng-if="disk.debugMode">
      <div ng-if="devices.diskSpace < 200">
        <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
        The device has less than 200 MB of disk space left. Please make more disk space available before adding more media.
      </div>

      <br />

      <div class="row pad-top">
        <div class="col-xs-12"><h5>Headset Media</h5></div>
      </div>

      <!-- Enable headset media -->
      <div class="row pad-top">
        <div class="col-xs-6"><label translate for="enableHeadsetMedia">Enable Headset Media Management:</label></div>
        <div class="col-xs-2"><input id="enableHeadsetMedia" type="checkbox" ng-model="disk.cha.enableHeadsetMedia" ng-click="toggleHeadsetMedia()"> </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-1"><a href="#" title="{{'Enable Headset Media Management help' | translate}}" uib-popover-html="headsetMediaTablePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div ng-if="disk.cha.enableHeadsetMedia" class="pad-top pad-bottom">
        <table class="table fixed" ng-if="disk.cha.enableHeadsetMedia">
          <thead>
            <tr>
              <!-- <th class="row-Name">Host</th> -->
              <th scope="col" class="row-Name">Group</th>
              <th scope="col" class="row-Name">Name</th>
              <th scope="col" class="row-Version">Version</th>
              <th scope="col" class="row-Date">Date</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="m in disk.cha.mediaRepos track by $index" ng-class="chaMedia.mclass(m)" ng-click="chaMedia.select(m)">
              <!-- <td class="row-Name">{{m.host}}</td> -->
              <td class="row-Name">{{m.group}}</td>
              <td class="row-Name">{{m.name}}</td>
              <td class="row-Version">{{m.version}}</td>
              <td class="row-Date">{{m.date.replace('T', ' ').split('.')[0]}} </td>
            </tr>
          </tbody>
        </table>

        <br />

        <div class="row pad-top">
          <div class="col-xs-4">
            <button ng-if="cha.fileOpState !== cha.fileOpStates.MEDIA_TRANSFER && !chaMedia.syncActive"
                    ng-disabled="!chaMedia.selected || cha.state !== 'connected' || tasks.disabled"
                    class="btn btn-primary btn-block"
                    ng-click="chaMedia.syncRepoToCha()"> <i class="ion-compose"></i> Sync To Headset</button>
            <button ng-if="cha.fileOpState !== cha.fileOpStates.MEDIA_TRANSFER && chaMedia.syncActive"
                    class="btn btn-primary btn-block"
                    ng-click="chaMedia.cancelMediaSync()"> <i class="ion-compose"></i> Cancel Sync</button>
            <button ng-if="cha.fileOpState === cha.fileOpStates.MEDIA_TRANSFER"
                    class="btn btn-primary btn-block"
                    ng-click="cha.cancelMediaTransfer()"> <i class="ion-compose"></i> Cancel Transfer</button>
          </div>
          <div class="col-xs-4">
            <button ng-disabled="!chaMedia.selected || tasks.disabled" class="btn btn-success btn-block" ng-click="chaMedia.updateRepo()"><i class="ion-android-sync"></i> Update</button>
          </div>
          <div class="col-xs-4">
            <button ng-disabled="!chaMedia.selected || tasks.disabled" class="btn btn-danger btn-block" ng-click="chaMedia.deleteRepo()"><i class="ion-trash-a"></i> Delete </button>
          </div>
        </div>

        <div class="row pad-top" ng-if="disk.appDeveloperMode && cha.state == 'connected'">
          <div class="col-xs-6">
            <button class="btn btn-danger btn-block" ng-click="cha.formatSDCard()">Format CHA SD Card</button>
          </div>
        </div>

        <hr />

        <div class="row pad-top">
          <div class="col-xs-10"><strong>Download Media from Gitlab</strong></div>
          <div class="col-xs-1"><a href="#" title="{{'Download Media from Gitlab help' | translate}}" uib-popover-html="headsetMediaDownloadPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Repository -->
        <div class="row pad-top">
          <div class="col-xs-3"><label for="repository">Repository:</label></div>
          <div class="col-xs-6"><input id="repository" type="text" enter-close class="form-control" placeholder="Name" ng-model="chaMedia.model.name"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"><a href="#" title="{{'Repository help' | translate}}" buib-popover-html="gitlabAddMediaPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-3"><label for="version">Version:</label></div>
          <div class="col-xs-6"><input id="version" type="text" enter-close class="form-control" placeholder="Latest" ng-model="chaMedia.model.version"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"><a href="#" title="{{'Version help' | translate}}" uib-popover-html="gitlabAddMediaVersionPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>

        <!-- Add -->
        <div class="row pad-top">
          <div class="col-xs-3"></div>
          <div class="col-xs-5">
            <button class="btn btn-default btn-block" ng-disabled="!chaMedia.model.name" ng-click="chaMedia.addRepo()"><i class="ion-plus"></i> Add</button>
          </div>
        </div>

        <div class="row pad-top" ng-if="disk.appDeveloperMode">
          <div class="col-xs-8"><label for="useCreareRepo">Use Creare Repository:</label></div>
          <div class="col-xs-2"><input id="useCreareRepo" type="checkbox" ng-model="chaMedia.isAdmin"></div>
          <div class="col-xs-1"><a href="#" title="{{'Use Creare Repository help' | translate}}" uib-popover-html="addCreareMediaRepoPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
        </div>
      </div>
    </div>

    <!-- Simulate Responses -->
    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-6"><label for="simulateRepo">Simulate Responses:</label></div>
      <div class="col-xs-2"><input id="simulateRepo" type="checkbox" ng-model="cha.simulateResponses"></div>
    </div>

    <br />

    <div class="row pad-top">
      <div class="col-xs-12 admin-labels"><h5>Test</h5></div>
    </div>

    <div class="row pad-top">
      <div class="col-xs-12">Fit Tones</div>
    </div>

    <!-- Fit Tones -->
    <div class="row pad-top">
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="startExam('ToneGeneration',{F:8000,ToneDuration:1000000,OutputChannel:'HPL0'})">
          <span class="glyphicon glyphicon-play-circle"></span> Left
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Left
        </button>
      </div>
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="startExam('ToneGeneration',{F:8000,ToneDuration:1000000,OutputChannel:'HPR0'})">
          <span class="glyphicon glyphicon-play-circle"></span> Right
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Right
        </button>
      </div>
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="!!chaExamInProgress" class="btn btn-primary btn-block" ng-click="stopExam()">
          <span class="glyphicon glyphicon-remove"></span> Stop
        </button>
        <button ng-if="!chaExamInProgress" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-remove"></span> Stop
        </button>
      </div>
    </div>

    <!-- Audio Streaming -->
    <div class="row pad-top">
      <div class="col-xs-6 pad-top">Audio Streaming</div>
    </div>

    <!-- Streaming Test -->
    <div class="row pad-top">
      <div class="col-xs-4">
        <button ng-disabled="cha.state != 'connected' || disk.disableAudioStreaming" class="btn btn-primary btn-block" ng-click="cha.state === 'connected' && chaStreaming.streaming ? chaExams.stopTalkThrough() : chaExams.startTalkThrough()">
          <span></span>
          <span class="glyphicon glyphicon-headphones"></span> {{cha.state === 'connected' && chaStreaming.streaming ? 'Off' : 'On'}}
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-disabled="!(cha.state === 'connected' && !chaExamInProgress && chaStreaming.streaming)" class="btn btn-primary btn-block" ng-click="media.playPhrase()">
          Phrase
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-disabled="!(cha.state === 'connected' && !chaExamInProgress && chaStreaming.streaming)" class="btn btn-primary btn-block" ng-click="media.playCompAudio()">
          CompAudio
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-disabled="!(cha.state === 'connected' && chaStreaming.streaming)" class="btn btn-primary btn-block" ng-click="stopAudio()">Stop</button>
      </div>
    </div>

    <!-- Play Cha Wav Test -->
    <div class="row pad-top">
      <div class="col-xs-12 pad-top">Play Wav Files on WAHTS</div>
    </div>

    <div class="row pad-top">
      <div class="col-xs-8">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="chaExams.playSound(['C:HINT/LIST1/TIS001.WAV', 'C:HINT/NOISE_R.WAV'])">
          <span class="glyphicon glyphicon-play-circle"></span> Test Sounds
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Test Sounds
        </button>
      </div>
    </div>

    <!-- Background Noise -->
    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-12 pad-top">Background Noise</div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="noiseOn()">
          <span class="glyphicon glyphicon-play-circle"></span>On
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span>On
        </button>
      </div>
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="noiseOff()">
          <span class="glyphicon glyphicon-play-circle"></span>Off
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span>Off
        </button>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4 pad-top">Noise Type:</div>
      <div class="col-xs-4">
        <span class="dropdown" uib-dropdown id="noise-type-dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            {{noise.type}}<span class="caret caret-position" style="margin-left: 10px"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="noiseType in noise.typeList"><a href="#" ng-click="changeNoiseType(noiseType)">{{noiseType}}</a></li>
          </ul>
        </span>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4 pad-top"><label for="noiseLevel">Noise Level:</label></div>
      <div class="col-xs-4">
        <input id="noiseLevel" type="number" class="form-control" placeholder="" ng-model="noise.level" />
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4 pad-top">SRINT:</div>
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !srint.enabled && !tasks.disabled" class="btn btn-primary btn-block" ng-click="playSRINT()">
          <span class="glyphicon glyphicon-play-circle"></span> Play All
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Play All
        </button>
      </div>
      <div class="col-xs-4">
        <!-- TODO: Make this one button that has `ng-disabled` property set appropriately -->
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && srint.enabled" class="btn btn-primary btn-block" ng-click="stopSRINT()">
          <span class="glyphicon glyphicon-play-circle"></span> Stop
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress" ng-disabled="true" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Stop
        </button>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4 pad-top"><label for="SRINTLevel">SRINT Level:</label></div>
      <div class="col-xs-4">
        <input id="SRINTLevel" type="number" class="form-control" placeholder="" ng-model="srint.level" />
      </div>
    </div>
  </div>
</div>
