<!--
* Author: Brendan Flynn
* Date: 14 March, 2016
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<!--Modal-->
<div class="modal-header">
  <span ng-if="fileOrDirectory === 'file'" class="modal-title">File Chooser</span>
  <span ng-if="fileOrDirectory === 'directory'" class="modal-title">Directory Chooser</span>
</div>

<div class="modal-body">
  <div ng-repeat="file in files">
    <a ng-click="clickFile(file)" ng-class="(file.nativeURL === selectedFile.nativeURL) ? 'highlighted' : ''">
      <i ng-show="file.isDirectory" class="icon ion-folder"></i>
      <i ng-show="file.isFile" class="icon ion-document"></i>
      {{file.name}}
    </a>
  </div>


</div>

<div class="modal-footer">
  <button ng-if="fileOrDirectory === 'file'" type="button" ng-class="(!!(selectedFile.isFile))?'btn btn-primary':'btn btn-primary disabled custom-disabled'" ng-click="select(selectedFile)">Select File</button>
  <button ng-if="fileOrDirectory === 'directory'" type="button" class="btn btn-primary" ng-click="createDirectory()">New Directory</button>
  <button ng-if="fileOrDirectory === 'directory'" type="button" ng-class="(!!(selectedFile.isDirectory))?'btn btn-primary':'btn btn-primary disabled custom-disabled'" ng-click="select(selectedFile)">Select Directory</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
