<div ng-controller="AudiogramCtrl">
  <div audiogram-plot class="audiogram" ng-if="showAudiogram" audiogram-data="audiogramData">
  </div>
  <div ng-if="!showAudiogram">
    <span>No Data Matching the Plot Criteria.</span>
  </div>
</div>



