<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="modal-header">
    Set WAHTS Shutdown Timer
</div>
<div class="modal-body">
    <label for="shutdownTimer">Please enter the WAHTS Shutdown Time in minutes:</label>
    <input id="shutdownTimer" type="number" ng-model="shutdownTimer" pattern="[0-9]*" autofocus="true"/><br />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(shutdownTimer)">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>
