<div ng-controller="CheckboxResponseAreaCtrl">
  <span class="multi-choice-container">
  <div class="row" ng-repeat="choice in choices">
    <div ng-controller="CheckboxChoiceController" ng-style="{{spacing}}"> 
      <!-- CheckboxChoiceController is defined in basicResponseAreas.js and handles the
      style and choice logic of the individual choices in checkbox response area choices list-->
      <button type="button" 
      ng-style="{'width': '200px','font-size':choice.fontSize,'background':(choice.backgroundColor)||(choice.disable&&'#cccccc'),'color':(choice.textColor)||(choice.disable&&'#666666')}"
      ng-class="btnClass()" ng-bind="label" ng-click="choose()" name="{{label}}">
      </button>
    </div>
  </div>
  <div class="row" ng-if="enableOtherText" style="max-width: 200px;">
    <span class="glyphicon glyphicon-arrow-right"></span>
    <input type="text" name="Other"
           ng-model="page.result.otherResponse"
           autofocus="true" style="padding:8px 12px;max-width: 178px;font-size: 16px;">
    <p style="margin-bottom: 200px"></p>
  </div>
  </span>

</div>
